# Dependencies
node_modules/

# Environment variables
.env
.env.test

# Logs
*.log
npm-debug.log*

# Runtime data
coverage/
*.lcov

# Build outputs
dist/
build/

# Testing
coverage/
test-results/

# Temporary files
*.tmp
*.temp

# Package manager files
package-lock.json

# Other
drizzle.config.ts
notes.txt
